.heroSection {
  .ball {
    width: 135px;
    position: absolute;
    left: -48px;
    top: 68px;
    z-index: -1;
    opacity: 0.4;
  }

  .racket {
  }
}
.toggleButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: 2rem;
}
