.parentWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .locationContainer {
    width: auto;
    padding: 10px;
    margin: 20px;
    border: 3px solid lightgreen;
    border-radius: 12px;
    text-align: center;
  }
}
.locationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .showCourtsButton {
  }
}

.courtStatusSummary {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.availableCount {
  color: green;
  font-weight: bold;
}

.likelyAvailableCount {
  color: orange;
  font-weight: bold;
}

.takenCount {
  color: rgb(209, 55, 81);
  font-weight: bold;
}

.courtsParent {
  margin-top: 15px;

  .courtDetails {
    border: 2px solid green;
    margin: 5px;
  }
}

.courtItem {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.courtItem.available {
  background-color: lightgreen;
}

.courtItem.likely-available {
  background-color: #ffeeba;
}

.courtItem.taken {
  background-color: #f5c6cb;
}
